@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --baik: #4caf50;
  --sedang: #86a6df;
  --tidak-sehat: #ff9800;
  --sangat-tidak-sehat: #f44336;
}

.btn{
  position: absolute;
  top: 0;
  left: -56px;
  padding: 10px 20px;
  background-color: #4d79c5;
  border-radius: 8px 0px 0px 8px;
  -webkit-border-radius: 8px 0px 0px 8px;
  -moz-border-radius: 8px 0px 0px 8px;
  -ms-border-radius: 8px 0px 0px 8px;
  -o-border-radius: 8px 0px 0px 8px;
  color: #fff;
  text-decoration: none;
}

.btn:hover{
  background-color: #fff;
  color: #4d79c5;
}


.baik {
  background-color: var(--baik);
}

.sedang {
  background-color: var(--sedang);
}

.tidak-sehat {
  background-color: var(--tidak-sehat);
}

.sangat-tidak-sehat {
  background-color: var(--sangat-tidak-sehat);
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("img.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  /* background: #394a5f; */
}

.header{
  width: 100%;
  padding: 30px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo span{
  color: #fff;
  font-size: 30px;
  font-weight: 800;
}

.header .icons-help i{
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  padding: 8px;
  background-color: #ffffff3d;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.header .icons-help i:hover{
  background-color: #fff;
  color: #ff9800;
  outline: 2px solid #eee;
}

.popup-container {
    display: none; /* Awalnya sembunyi */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparan hitam */
    z-index: 999; /* Z-index tinggi agar tumpukan di atas semua elemen lain */
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 50%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    position: relative;
}

.popup-content h2 {
    font-size: 24px;
    color: #182f57;
    margin-bottom: 10px;
}

.popup-content p {
    font-size: 16px;
    color: #444;
    line-height: 1.5;
}

.category{
  padding: 10px;
}

.category.satu{
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
}

.category:last-child{
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
}

.close-popup {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 24px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    color: #394a5f;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4444444b;
    border-radius: 0px 0px 0px 10px;
    -webkit-border-radius: 0px 0px 0px 10px;
    -moz-border-radius: 0px 0px 0px 10px;
    -ms-border-radius: 0px 0px 0px 10px;
    -o-border-radius: 0px 0px 0px 10px;
}

/* Animasi untuk muncul */
.popup-container.active {
    display: flex;
    animation: popupFadeIn 0.3s ease forwards;
}

@keyframes popupFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#icon{
  font-size: 60px;
  color: #ff9800;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.content h1 {
  font-size: 50px;
  font-weight: 800;
}

.content p {
  margin: 10px auto;
  font-weight: 200;
  line-height: 1.5;
  font-size: 20px;
}

.content a {
  text-decoration: none;
  color: #fff;
  background: #4caf50;
  padding: 12px 45px;
  display: inline-block;
  margin-top: 10px;
  border-radius: 25px;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  font-size: 15px;
  font-weight: 600;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.content a:hover {
  background-color: #fff;
  color: #4caf50;
  outline: 1px solid #4caf50;
}

.prediksi-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #394a5f;
}

.box-location {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  margin: 20px 0px;
}

.loc {
  display: block;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  position: relative;
}

.loc-text {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.search-input {
  width: 100%;
  padding: 12px 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.search-input:focus {
  border: 1px solid #394a5f;
}

.live-loc {
  margin-top: 20px;
}

.live-loc i {
  font-size: 20px;
}

.prediksi-content {
  width: 50%;
  background-color: #fff;
  border-radius: 0px 5px 5px 5px;
  -webkit-border-radius: 0px 5px 5px 5px;
  -moz-border-radius: 0px 5px 5px 5px;
  -ms-border-radius: 0px 5px 5px 5px;
  -o-border-radius: 0px 5px 5px 5px;
  padding: 20px;
  position: relative;
}

.pred_box {
  border: 1px solid #eee;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* Prediksi */
.box-prediksi {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 25px;
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -ms-border-radius: 5px 5px 0px 0px;
  -o-border-radius: 5px 5px 0px 0px;
}

/* score baik */
.baik .score{
  background: #144e16ab;
}

.baik .kategori p{
  color: #144e16ab;
}

.baik .kategori span{
  color: #144e16ab;
}

/* score sedang */
.sedang .score{
  background: #182f57;
}

.sedang .kategori p{
  color: #182f57;
}

.sedang .kategori span{
  color: #182f57;
}
/* end sedang */

/* score tidak sehat */
.tidak-sehat .score{
  background: #724809;
}

.tidak-sehat .kategori p{
  color: #724809;
}

.tidak-sehat .kategori span{
  color: #724809;
}
/* end tidak sehat */

/* score sangat tidak sehat */
.sangat-tidak-sehat .score{
  background: #7f0000;
}

.sangat-tidak-sehat .kategori p{
  color: #7f0000;
}

.sangat-tidak-sehat .kategori span{
  color: #7f0000;
}
/* end sangat tidak sehat */  

.score {
  padding: 10px 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.score p {
  color: #eee;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}

.score span {
  color: #fff;
  font-size: 35px;
  font-weight: 800;
  letter-spacing: 1px;
}

.kategori p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
}

.kategori span {
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 1px;
}

.box-overview {
  padding: 20px;
  width: 100%;
}

.box-overview p {
  color: #1e5e20;
  font-size: 15px;
  font-weight: 400;
}

/* Polutan */
.polutan {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 15px;
}

.box-polutan {
  display: flex;
  align-items: center;
  gap: 30px;
}

.box-polutan p {
  flex: 1;
  margin: 0;
}

.concentration {
  color: #1a4b1ba6;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
}

.progress-bar {
  flex: 2;
  background-color: #f3f3f3;
  border-radius: 5px;
  overflow: hidden;
  height: 8px;
}

.progress {
  height: 100%;
  width: 0;
  background-color: #4caf50;
  transition: width 0.3s;
}

.kembali {
  padding: 8px 15px;
  background-color: #618fdd;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
